[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
celery = "*"
dj-database-url = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-allauth = "*"
django-anymail = "*"
dj-rest-auth = "*"
factory-boy = "*"
gunicorn = "*"
pillow = "*"
pyyaml = "*"
python-dotenv = "*"
uritemplate = "*"
django-storages = "*"
django = "*"
django-filter = "*"
psycopg = { extras = ["c"], version = "==3.2.3" }
whitenoise = "*"
drf-yasg = "*"
model-bakery = "*"
drf-nested-routers = "*"
